<div class="avatar-modal">
    <span class="close-btn" (click)="dialogRef.close()">
        &times;
    </span>

    <h5 class="modal-heading">
        Change password
    </h5>

    <form class="form" [formGroup]="changePasswordForm" (submit)="changePassword(changePasswordForm)">
        <div class="form change-password-form">
            <ul class="list-unstyled form-list">
                <li class="form-list-item">
                    <md-input-container class="d-block">
                        <input mdInput
                               type="text"
                               formControlName="old_password"
                               placeholder="Old password"
                        >
                    </md-input-container>
                </li>

                <li class="form-list-item">
                    <md-input-container class="d-block">
                        <input mdInput
                               type="text"
                               formControlName="password"
                               placeholder="New password"
                        >
                    </md-input-container>
                </li>

                <li class="form-list-item">
                    <md-input-container class="d-block">
                        <input mdInput
                               type="text"
                               formControlName="confirm_password"
                               placeholder="Confirm password"
                        >
                    </md-input-container>
                </li>
            </ul>
        </div>
    </form>

    <div class="text-center">
        <button type="submit"
                class="btn btn-primary">
            Save changes
        </button>
    </div>
</div>